@font-face {
    font-family: CormorantGaramond;
    src: url("../fonts/CormorantGaramond/CormorantGaramond-SemiBold.woff2"),
    url("../fonts/CormorantGaramond/CormorantGaramond-SemiBold.ttf");
    font-weight: 500;
    font-display: swap;
  }
  

  @font-face {
    font-family: CormorantGaramond;
    src: url("../fonts/CormorantGaramond-Regular.woff2"),
    url("../fonts/CormorantGaramond-Regular.ttf");
    font-weight: 400;
    font-display: swap;
  }

  @font-face {
    font-family: CormorantGaramond;
    src: url("../fonts/CormorantGaramond-Light.woff2"),
    url("../fonts/CormorantGaramond-Light.ttf");
    font-weight: 300;
    font-display: swap;
  }

  @font-face {
    font-family: Montserrat;
    src: url("../fonts/Montserrat-Light.woff2"),
    url("../fonts/Montserrat-Light.ttf");
    font-weight: 300;
    font-display: swap;
  }

  @font-face {
    font-family: Montserrat;
    src: url("../fonts/Montserrat-Medium.woff2"),
    url("../fonts/Montserrat-Medium.ttf");
    font-weight: 500;
    font-display: swap;
  }

  @font-face {
    font-family: Montserrat;
    src: url("../fonts/Montserrat-Regular.woff2"),
    url("../fonts/Montserrat-Regular.ttf");
    font-weight: 400;
    font-display: swap;
  }

  @font-face {
    font-family: Montserrat;
    src: url("../fonts/Montserrat-Thin.woff2"),
    url("../fonts/Montserrat-Thin.ttf");
    font-weight: 200;
    font-display: swap;
  }

  @font-face {
    font-family: Ubuntu;
    src: url("../fonts/Ubuntu-Regular.woff2"),
    url("../fonts/Ubuntu-Regular.ttf");
    font-weight: 400;
    font-display: swap;
  }