// Colors

$hilightColor : #92BE67; //Highlights
$textColor : #A3B3BD; //Text
$deep1: #11161C;
$deep2:#101d09;

$fancy1: #4A5C39;
$fancy2 : #11354C;
$fancy3 : #3F6781;

$standardTransition : .25s ease-in-out;